/* buttons */

a[class^="btn"], button[class^="btn"] {
  background-color: var(--bg-white);
  font-size: 16px;
}

/* inline block 버튼 */
a[class^="btn"].type-block {
  display: inline-block;
}

a[class^="btn"].type-block-one, 
button[class^="btn"].type-block-one {
  display: block;
}

/* 버튼 배경색 관련 스타일 */
/* 배경 투명 버튼 */
a[class^="btn"].type-transparent,
button[class^="btn"].type-transparent {
  background-color: transparent;
}

/* 배경 검정색 버튼 */
a[class^="btn"].type-bg-black,
button[class^="btn"].type-bg-black {
  background-color: var(--color-black);
  color: var(--bg-white);
}

a[class^="btn"].type-bg-black:hover,
button[class^="btn"].type-bg-black:hover {
  background-color: var(--color-light-black);
}


/* 버튼 모양 관련 스타일 */
/* 사각형 버튼 */
a[class^="btn"].type-square,
button[class^="btn"].type-square {
  height: 45px;
  color: var(--color-gray);
  line-height: 43px;
  border: 1px solid var(--border-square);
  padding: 0 20px;
}

a[class^="btn"].type-square:hover,
button[class^="btn"].type-square:hover {
  border-color: var(--color-black);
  color: var(--color-black);
}

a[class^="btn"].type-circle, 
button[class^="btn"].type-circle {
  width: 36px;
  height: 36px;
  border-radius: 100%;
}

a[class^="btn"].type-circle.type-small, 
button[class^="btn"].type-circle.type-small {
  width: 24px;
  height: 24px;
}

a[class^="btn"].type-circle.type-big, 
button[class^="btn"].type-circle.type-big {
  width: 80px;
  height: 80px;
}


/* 아이콘형 버튼 */
a[class^="btn"].type-ico i,
button[class^="btn"].type-ico i {
  margin-right: 8px;
  font-size: 22px;
  vertical-align: text-bottom;
}

a[class^="btn"].type-ico.type-circle, 
button[class^="btn"].type-ico.type-circle {
  overflow: hidden;
  text-indent: -999px;
  background-repeat: no-repeat;
  background-position: center center;
  padding-left: 0;
}


/* 아이콘형 버튼 배경 이미지 */
.btn-more, .btn-previous {background-image: url('../images/btn_more.png');}
.btn-more:hover, .btn-previous:hover {background-image: url('../images/btn_more_hover.png');}
.btn-add-member {background-image: url('../images/btn_add.png');}
.btn-write { background-image: url('../images/btn_write.png'); }
.btn-modify, .btn-feedback-modify { background-image: url('../images/btn_modify.png'); }
.btn-to-left { background-image: url('../images/btn_to_left.png'); }
.btn-to-right { background-image: url('../images/btn_to_right.png'); }
.btn-to-left:hover { background-image: url('../images/btn_to_left_hover.png'); }
.btn-to-right:hover { background-image: url('../images/btn_to_right_hover.png'); }
.btn-delete, .btn-close, .btn-feedback-delete { background-image: url('../images/btn_delete.png'); }
.btn-delete:hover, .btn-close:hover, .btn-feedback-delete:hover { background-image: url('../images/btn_delete_hover.png'); }


/* 버튼 두꺼운 선 스타일 */
a[class^="btn"].type-ico.type-circle.type-border, 
button[class^="btn"].type-ico.type-circle.type-border {
  border: 7px solid var(--border-circle);
}
a[class^="btn"].type-ico.type-circle.type-border:hover, 
button[class^="btn"].type-ico.type-circle.type-border:hover {
  border-style: dashed;
}

button[class^="btn"].type-submit {
  margin: 20px auto 0;
  width: 200px;
  height: 45px;
  line-height: 45px;
}

/* delete button */
a[class^="btn"].type-red-square,
button[class^="btn"].type-red-square {
  height: 45px;
  color: var(--color-gray);
  line-height: 43px;
  border: 1px solid var(--border-square);
  padding: 0 20px;
}
a[class^="btn"].type-red-square:hover,
button[class^="btn"].type-red-square:hover {
  border-color: red;
  color: red;
}

/* back button */
a[class^="btn"].type-circle.type-middle {
  width: 50px;
  height: 50px;
  transform: rotate(180deg);
  background-size: 21px auto;
}