/* header, footer, wrapper */

/* header 공통 */
header {
  background: var(--bg-sky);
  margin-bottom: 220px;
  position: relative;
}

header #round {
  display: block;
  width: 100%;
  height: 100px;
  background: var(--bg-sky);
  border-radius: 0 0 100% 100%;
  position: absolute;
  top: 100%;
  z-index: 0;
}

/* header goorm */
header .goorm-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  z-index: 1;
}

header .ico-goorm {
  display: inline-block;
  background: url('../images/goorm_single.png') no-repeat;
  background-size: 100%;
  width: 69px;
  height: 46px;
  position: absolute;
  animation: goormmove .9s ease-in-out infinite;
}

@keyframes goormmove {
  from { margin-top: 0; }
  50% { margin-top: 3px; }
  to { margin-top: 0; }
}

header .ico-goorm.goorm-small {
  width: 43px;
  height: 29px;
  animation: goormmovesmall .8s ease-in-out infinite;
  animation-delay: .3s;
}

@keyframes goormmovesmall {
  from { margin-top: 0; }
  50% { margin-top: 2px; }
  to { margin-top: 0; }
}

header .ico-goorm.goorm-big {
  width: 87px;
  height: 58px;
  animation-delay: .2s;
}

header .ico-goorm.goorm-double {
  background-image: url('../images/goorm_double.png');
  width: 96px;
  height: 70px;
  animation: goormmovedouble 1s ease-in-out infinite;
  animation-delay: .1s;
}

@keyframes goormmovedouble {
  from { margin-top: 0; }
  50% { margin-top: 6px; }
  to { margin-top: 0; }
}

header .ico-goorm.goorm-double.goorm-big {
  width: 118px;
  height: 86px;
}

/* goorm position */
header .ico-goorm:nth-child(1) {
  top: 30%;
  left: 5%;
}

header .ico-goorm:nth-child(2) {
  top: 94%;
  left: 62%;
}

header .ico-goorm:nth-child(3) {
  top: 90%;
  left: 8%;
}

header .ico-goorm:nth-child(4) {
  top: 29%;
  left: 77%;
}

header .ico-goorm:nth-child(5) {
  top: 80%;
  left: 30%;
}

header .ico-goorm:nth-child(6) {
  top: 40%;
  left: 93%;
}

header .ico-goorm:nth-child(7) {
  top: 80%;
  left: 88%;
}

header .ico-goorm:nth-child(8) {
  top: 25%;
  left: 82%;
}

header .ico-goorm:nth-child(9) {
  top: 10%;
  left: 17%;
}


/* logo, admin */
header .header-contents {
  position: relative;
  padding: 100px 0 0;
}

.header #goormthon a {
  display: block;
  width: 268px;
  height: 63px;
  background: url('../images/logo_goorm.png') no-repeat center top;
  text-indent: -999px;
  overflow: hidden;
  margin: 0 auto;
}

.header .btn-admin {
  position: absolute;
  top: 100px;
  right: 60px;
  z-index: 2;
}


/* index header */
#main header {
  margin-bottom: 320px;
}

header .hero, header .btn-scroll {
  display: none;
}

#main header .hero {
  display: block;
  height: 500px;
  overflow: hidden;
  text-indent: -999px;
  background: url('../images/logo_3355.png') no-repeat center center;
  padding: 140px 0;
  position: relative;
  z-index: 2;
}

#main header .btn-scroll {
  display: block;
  position: absolute;
  width: 50px;
  height: 120px;
  bottom: -138px;
  left: 50%;
  margin-left: -25px;
  text-align: center;
  font-weight: bold;
  background: url('../images/btn_scroll.png') no-repeat center bottom;
  animation: scrollmove 1s ease-in-out infinite;
  z-index: 1;
}

@keyframes scrollmove {
  from {bottom: -138px;}
  50% {bottom: -148px}
  to {bottom: -138px;}
}


/* footer */
footer {
  text-align: center;
  padding: 200px 0 100px;
}

footer p, footer a {
  color: var(--color-gray);
}

footer a:hover {
  color: var(--color-black);
}

/* 콘텐츠 레이아웃 */
.wrapper {
  width: 100%;
  max-width: 880px;
  padding: 0 30px;
  margin: 0 auto;
}

.contents-full { /* width 100% 꽉 채우는 콘텐츠들 */
  padding: 0 10px;
}

/* title */
*[class^="title"] {
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}

.title-en {
  font-size: 24px;
  color: var(--color-green);
}

.title-ko {
  font-size: 60px;
  letter-spacing: -0.06em;
  margin-bottom: 60px;
}

#btn-to-top {
  position: fixed;
  bottom: 73px;
  right: 60px;
  transform: rotate(-90deg);
}