<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form action="/admin/addMember" method="post">
    <label for="name">이름</label>
    <input id="name" name="name" type="text"/>
    <label for="role">역할</label>
    <input id="role" name="role" type="text"/>
    <label for="github">깃허브 주소</label>
    <input id="github" name="github" type="text"/>
    <label for="favorite">관심 분야</label>
    <input id="favorite" name="favorite" type="text"/>
    <label for="lang">사용가능 언어</label>
    <input id="lang" name="lang" type="text"/>
    <label for="shortIntro">소개글</label>
    <textarea id="shortIntro" name="shortIntro"></textarea>
    <button type="submit">저장</button>
  </form>
</body>
</html>