<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${board.name} 소개|">Title</title>
</head>
<body>
    <div>
        <ul>
            <li>이름 <span th:text="${board.name}"/></li>
            <li>역할 <span th:text="${board.role}"/></li>
            <li>깃허브 주소 <span th:text="${board.github}"/></li>
            <li>관심 분야 <span th:text="${board.favorite}"/></li>
            <li>사용가능언어 <span th:text="${board.lang}"/></li>
        </ul>
        <p>소개글</p>
        <textarea th:text="${board.shortIntro}" readonly/>
    </div>
    <span>방명록</span>
    <div>
        <div th:each="comment : ${comments}">
            <span>사용자명</span><p th:text="${comment.username}"></p>
            <span>내용</span><p th:text="${comment.content}"></p>
        </div>
    </div>
    <span>방명록 입력</span>
    <div>
        <form action="/comment" method="post">
            <input type="hidden" id="boardId" name="boardId" th:value="${board.id}"/>
            <label for="username">아이디</label>
            <input type="text" id="username" name="username"/>
            <label for="password">비밀번호</label>
            <input id="password" name="password" type="password"/>
            <label for="content">방명록</label>
            <textarea id="content" name="content"></textarea>
            <button type="submit">저장</button>
        </form>
    </div>
</body>
</html>