<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:if="${session.isEmpty()}" th:insert="~{Fragments/header :: header}"></div>
<div th:unless="${session.isEmpty()}" th:insert="~{Fragments/headerAdmin :: header}"></div>
  <tbody>
    <tr th:each="member : ${members}">
      <td><a th:href="|/member/${member.id}|" th:text="${member.name}"></a></td>
    </tr>
  </tbody>
<div th:insert="~{Fragments/footer :: footer}"></div>
</body>
</html>