<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{includes/head :: head}"></div>
<link rel="stylesheet" href="/assets/css/modify.css" />
<body>
  <div th:replace="~{includes/header :: header}"></div>
<section class="wrapper member modify">
  <article class="container">
    <div class="prev-wrapper contents-full"><!-- 상단 버튼 -->
      <div class="move-back">
        <a class="btn-previous type-ico type-block type-circle type-middle type-border" href="/"></a>
        <h3>3조 삼삼오오</h3>
      </div>
      <div class="buttons-wrapper">
        <button type="submit" form="member" class="btn-member-submit type-ico type-square"><i class="fa fa-address-book-o"></i>등록하기</button>
      </div>
    </div>
    <!-- form -->
    <form name="member" id="member" action="/modify/create" method="post">
      <div class="member-box">
        <p class="title-en">member</p>
        <input name="name" class="modify-name" type="text" placeholder="이름" required><!-- 이름 입력 -->
        <div class="member-profile">
          <label for="profile-input"><!-- 프로필 사진 선택 -->
            <img src="/assets/images/ico_profile.png" alt="프로필" class="profile-img">
          </label>
          <input type="hidden" name="profileSrc" value="/assets/images/">
          <input type="hidden" name="profile" id="profile">
          <input name="profile1" id="profile-input" type="file">
        </div>
        <div class="modify-git member-github" onclick="
                    document.querySelector('.modify-git-address-wrap').style.display='block';">
          <i class="fa fa-github"></i><!-- 깃허브 주소 입력 -->
        </div>
        <div class="modify-git-address-wrap">
          <input name="github" class="modify-git-address" type="text" value="https://github.com/">
          <button id="confirm" type="button" class="btn-github-modify type-square" onclick="
                        document.querySelector('.modify-git-address-wrap').style.display='none';">등록</button>
        </div>
      </div>
      <div id="role-position"><!-- 역할과 포지션 입력 -->
        <input name="role" id="role" type="text" placeholder="조장 / 조원" required> /
        <input name="favorite" id="position" type="text" placeholder="개발자 포지션" required>
      </div>
      <div class="short-intro-box contents-full"><!-- 자기 소개 입력 -->
        <h4>소개</h4>
        <textarea name="shortIntro" id="short-intro" cols="110" rows="10" required></textarea>
      </div>
      <div class="lang-box contents-full"><!-- 사용 언어 입력 -->
        <h4>기술</h4>
        <div class="checkbox">
          <input name="lang" id="html" type="checkbox" value="/assets/images/html.png">
          <label for="html"><img src="/assets/images/html.png" alt="html"></label>
          <input name="lang" id="css" type="checkbox" value="/assets/images/css.png">
          <label for="css"><img src="/assets/images/css.png" alt="css"></label>
          <input name="lang" id="javascript" type="checkbox" value="/assets/images/javascript.png">
          <label for="javascript"><img src="/assets/images/javascript.png" alt="javascript"></label>
          <input name="lang" id="java" type="checkbox" value="/assets/images/java.png">
          <label for="java"><img src="/assets/images/java.png" alt="자바" class="language-img-java"></label>
          <input name="lang" id="spring" type="checkbox" value="/assets/images/spring.png">
          <label for="spring"><img src="/assets/images/spring.png" alt="spring"></label>
          <input name="lang" id="thymeleaf" type="checkbox" value="/assets/images/thymeleaf.png">
          <label for="thymeleaf"><img src="/assets/images/thymeleaf.png" alt="thymeleaf"></label>
          <input name="lang" id="dart" type="checkbox" value="/assets/images/dart.png">
          <label for="dart"><img src="/assets/images/dart.png" alt="dart"></label>
          <input name="lang" id="flutter" type="checkbox" value="/assets/images/flutter.png">
          <label for="flutter"><img src="/assets/images/flutter.png" alt="flutter"></label>
          <input name="lang" id="docker" type="checkbox" value="/assets/images/docker.png">
          <label for="docker"><img src="/assets/images/docker.png" alt="docker"></label>
          <input name="lang" id="jquery" type="checkbox" value="/assets/images/jquery.png">
          <label for="jquery"><img src="/assets/images/jquery.png" alt="jquery"></label>
          <input name="lang" id="kubernetes" type="checkbox" value="/assets/images/kubernetes.png">
          <label for="kubernetes"><img src="/assets/images/kubernetes.png" alt="kubernetes"></label>
          <input name="lang" id="react" type="checkbox" value="/assets/images/react.png">
          <label for="react"><img src="/assets/images/react.png" alt="react"></label>
        </div>
      </div>
    </form>
  </article>
</section>
  <div th:replace="~{includes/footer :: footer}"></div>
  <script src="/assets/js/modify.js"></script>
</body>
</html>