/* index */

#main article {
  text-align: center;
}

/* about */
#about-group .text-about {
  text-align: justify;
  color: var(--color-light-black);
  margin-bottom: 60px;
}

/* guest book */
#guest-book {
  display: flex;
  margin: 120px 0 240px;
}

#guest-book > div {
  padding: 0 10px;
}

/* guest book: 방명록 작성하기 */
#guest-book .guest-write {
  width: 25%;
}

#guest-book .guest-write h3 {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: -0.04em;
  text-align: left;
}

#guest-book .guest-write button[class^="btn"] {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

/* guest book: 방명록 리스트 */
#guest-book .guest-list {
  width: 75%;
  padding-left: 0;
  position: relative;
}

/* 방명록 슬라이더 버튼 */
#guest-book .guest-btnwrap {
  position: absolute;
  top: -40px;
  right: 10px;
}

/* 방명록 컨테이너 */
#guest-list-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

#guest-list-wrapper ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}

/* 방명록 내용 */
#guest-book .guest-write h3, #guest-book ul > li {
  border-radius: 10px;
  height: 200px;
  padding: 20px 30px;
}

#guest-book .guest-write h3, #guest-book ul > li:nth-child(even) {
  background: var(--bg-yellow);
}

#guest-book ul > li:nth-child(odd) {
  background: var(--bg-gray);
}

#guest-book ul > li {
  width: 185px;
  margin: 0 10px;
  text-align: justify;
  position: relative;
}

#guest-book ul > li .guest-contents {
  width: 100%;
  height: 60%;
  line-height: 1.5;
  overflow-y: scroll;
  margin-bottom: 28px;
  text-align: left;
  overflow-x: hidden;
  white-space: pre-wrap;
  word-break: break-all;
}

/* 방명록 스크롤 */
#guest-book ul > li .guest-contents::-webkit-scrollbar {
  border-radius: 10px;
  width: 5px;
  background-color: var(--bg-gray);
}

#guest-book ul > li .guest-contents::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--color-light-black);
}

#guest-book ul > li .guest-contents::-webkit-scrollbar-track {
  background-color: var(--bg-gray);
}

#guest-book ul > li .guest-date {
  color: var(--color-gray);
  font-size: 14px;
  line-height: 36px;
}

/* 방명록 버튼 */
#guest-book ul > li .btn-delete {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 16px;
  height: 16px;
  opacity: 0;
}

#guest-book ul > li:hover .btn-delete {
  opacity: 1;
}

#guest-book ul > li .btn-modify {
  position: absolute;
  bottom: 20px;
  right: 20px;
}


/* 조원 소개 */
#member-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 10px 0;
}

#member-list > li {
  display: inline-block;
  width: 350px;
  margin-bottom: 100px;
}

#member-list > li .member-image {
  width: 350px;
  height: 350px;
  border: 7px solid var(--border-circle);
  border-radius: 100%;
  background: url('../images/ico_profile.png') no-repeat center center;
  position: relative;
}

#member-list > li .member-image .btn-more {
  position: absolute;
  top: 70%;
  right: 0;
}

#member-list > li .member-name {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -0.05em;
  margin: 20px 0 0;
}

#member-list > li .member-name a:hover {
  color: var(--color-blue);
}

#member-list > li .member-position {
  font-size: 18px;
  color: var(--color-gray);
}

#member-list > li.member-add a {
  width: 350px;
  height: 350px;
}
