<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="copy">
    <p>&copy; 2023 <a href="https://github.com/WhiteKIM" target="_blank">김경규</a>, <a href="https://github.com/soheetech" target="_blank">문소희</a>, <a href="https://github.com/JinhwanB" target="_blank">배진환</a>, <a href="https://github.com/location132" target="_blank">이정원</a>. All Rights Reserved.</p>
    <button type="button" onclick="topFunction();" id="btn-to-top" class="btn-more type-ico type-block type-circle type-big type-border displaynone">상단으로 이동</button>
    <!-- js -->
    <script src="/assets/js/scroll.js"></script>
    <script src="/assets/js/popup.js"></script>
    <script src="/assets/js/guest.js"></script>
</footer>
</body>
</html>