<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header">
    <div class="goorm-wrapper"><!-- 구름 둥둥 -->
        <span class="ico-goorm goorm-single goorm-small"></span>
        <span class="ico-goorm goorm-single goorm-small"></span>
        <span class="ico-goorm goorm-single goorm-small"></span>
        <span class="ico-goorm goorm-single goorm-big"></span>
        <span class="ico-goorm goorm-single goorm-basic"></span>
        <span class="ico-goorm goorm-single goorm-basic"></span>
        <span class="ico-goorm goorm-double goorm-basic"></span>
        <span class="ico-goorm goorm-single goorm-small"></span>
        <span class="ico-goorm goorm-double goorm-big"></span>
    </div>
    <div th:if="${session.isEmpty()}" class="header-contents"><!-- header 내용들 -->
        <div class="header"><!-- 서브 페이지에도 공통적으로 들어가는 영역 -->
            <h2 th:id="goormthon"><a href="/">구름톤 트레이닝 1차 스터디</a></h2>
            <a href="/login" class="btn-admin type-square type-block type-transparent type-ico"><i class="fa fa-id-badge"></i>관리자 로그인</a>
        </div>
        <h1 class="hero">3조 삼삼오오</h1><!-- 메인페이지 로고 -->
        <button type="button" onclick="mainScroll();" class="btn-scroll type-transparent">scroll</button>
        <div th:id="round"></div><!-- 헤더 하단 둥글게 처리 -->
    </div>
    <div th:unless="${session.isEmpty()}" class="header-contents"><!-- header 내용들 -->
        <div class="header"><!-- 서브 페이지에도 공통적으로 들어가는 영역 -->
            <h2 th:id="goormthon"><a href="/">구름톤 트레이닝 1차 스터디</a></h2>
            <a href="/logout" class="btn-admin type-square type-block type-transparent type-ico"><i class="fa fa-id-badge"></i>로그아웃</a>
        </div>
        <h1 class="hero">3조 삼삼오오</h1><!-- 메인페이지 로고 -->
        <button type="button" onclick="mainScroll();" class="btn-scroll type-transparent">scroll</button>
        <div th:id="round"></div><!-- 헤더 하단 둥글게 처리 -->
    </div>
</header>
